@import '../../utils/variables.scss';

.navbar {
    background-color: $yellow;
    padding: $spacing-100 0;
    text-align: center;
    & > div:only-child {
        display: flex;
        align-items: center;
    }
    form {
        margin-left: $spacing-200;
    }
}
